body
{
    display: flex ;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

 header
{
    display: flex ;
    flex-direction: row;
    border-top: 1px solid black;
    
}

 body, main
{
    display: flex ;
    flex: auto;
    border-top: 1px solid black;
}
main
{
    border-top: 1px solid black;
    flex-direction: row;

}
article
{
    
      flex: 2;
      overflow-y: auto;
        
}
 aside
{
     flex: 1;
     overflow-y: auto;
     border-left: 1px solid black;
     align-items: center;
    
 
}

footer
{
    display: flex ;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
